/* FONT */
@font-face {
    font-family: Inter;
    src: url("../font/Inter/Inter-Regular.ttf");
}
@font-face {
    font-family: Inter_SemiBold;
    src: url("../font/Inter/Inter-SemiBold.ttf");
}
@font-face {
    font-family: Inter_Bold;
    src: url("../font/Inter/Inter-Bold.ttf");
}
@font-face {
    font-family: Inter_Medium;
    src: url("../font/Inter/Inter-Medium.ttf");
}

/* THEMES */
body.main_theme {
    --background-color: #f7fffa;
    --menu-background-color: #f7f7f7;
    --border-menu-color: #f2f2f2;
    --unselected-font-color: #00b359;
    --unselected-background-color: #ffffff;
    --selected-font-color: #ffffff;
    --selected-background-color: #00b359;
    --font-color:rgb(15, 15, 15);
    --input_border_color: #dbdbdb;
    --placeholder_color: #b9b9b9;
    --input_color: #f7f7f7;


    --destructive-color: #ff453a;
    --destructive-color-darker: #a8241d;
    --default-color: #04ac58;
    --default-color-darker: #0e914f;
}

html {
    font-family: Inter;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* HEADER CSS PART */
header nav a {
    text-decoration: none;
}

header nav {
    background-color: var(--menu-background-color);
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px .125rem var(--border-menu-color);
    width: 100%;
    z-index: 100;
}
nav a div g {
    fill: var(--unselected-font-color);
}
header nav * {
    color: white;
    margin: 0;
    padding: 0;
}

.div_top_nav {
    display: flex;
    flex-direction: row;
    padding-left: 12px;
    padding-right: 12px;
}
.div_top_nav * {
    margin: auto;
    display: flex;
}
.top_nav_logo {
    height: 54px;
    width: auto;
    padding-right: 16px;
}
.top_nav_ico {
    margin: auto;
    width: 21px;
    height: 21px;
    margin-right: 8px;
}
.top_nav_text {
    font-family: Inter_SemiBold;
    font-size: 16px;
    font-weight: 400;
}

/* selected effect css */
nav a div.selected {
    border: 1px solid var(--selected-background-color);
    background-color: var(--selected-background-color) !important;
}
nav a div.selected g {
    fill: white;
}
nav a div.selected .top_nav_text {
    color: var(--selected-font-color);
}
/* end of effect part */

nav a div {
    border: 1px solid var(--unselected-font-color);
}
nav a div:hover {
    border: 1px solid var(--selected-background-color);
    background-color: var(--selected-background-color);
}
nav a div p {
    color: var(--unselected-font-color);
    margin-left: 4px !important;
}
.info_ico_container:hover p {
    color: var(--selected-font-color);
}
.info_ico_container:hover g {
    fill: var(--selected-font-color);
}
.info_ico_container {
    background-color: var(--unselected-background-color);
    display: flex;
    flex-direction: row;
    border-radius: 100px;
    overflow: hidden;
    padding: 6px 12px;
    margin: auto 4px;
    cursor: pointer;
    transition: all 0.15s ease-out;
}
.info_ico_container * {
    transition: all 0.15s ease-out;
}

@media screen and (max-width: 640px) {
    .top_nav_text {
        font-size: 14px;
        font-weight: 500;
    }
    .info_ico_container svg {
        width: 22px;
        height: 22px;
    }
    header nav {
        height: 66px;
    }
}
/* END HEADER CSS PART */


/* arrière plan */
.bg {
    background-color: var(--background-color);
}

/* SQUARED BUTTON CSS STYLE */
.square_btn {
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    transition: all 0.15s ease-out;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.square_btn:hover {
    transform: scale(1.1);
}

/* RECTANGLE ROUNDED BUTTON CSS STYLE */
.rect_round_btn {
    margin: 10px;

    text-align:center;
    color: white;
    background-color: var(--destructive-color);

    transition: all 0.15s ease-out;
    cursor: pointer;

    border-radius: 10px;
    border: none;

    width: 100%;
    max-width: 1000px;
    height: 30px;


}
.rect_round_btn:hover {
    transform: scale(1.1);
}

/* ROUNDED BUTTON CSS STYLE */
.round_btn {
    display: inline-block;
    border-radius: 1000px;
    padding: 12px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    transition: all 0.15s ease-out;
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.round_btn.small {
    width: 24px;
    height: 24px;
    padding: 4px;
    box-shadow: none;
}
.round_btn:hover {
    transform: scale(1.1);
}
.round_btn.floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 0;
    width: 32px;
    height: 32px;
}

.btn_container {
    display: block;
    margin: 0;
    padding: 0;
    padding-left: 8px;
    width: 50px;
    height: 50px;
}

/* ICON BTN */
.round_btn.add::after {
    content: "";
    position: absolute;
    background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32px" height="32px" viewBox="0,0,256,256"><g fill="white" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M23,9v14h-14v4h14v14h4v-14h14v-4h-14v-14z"></path></g></g></svg>');
    height: 32px;
    width: 32px;
}
.round_btn.filter::after {
    content: "";
    position: absolute;
    background: url('data:image/svg+xml;utf8,<svg width="24px" height="24px" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.2 0C14.1512 0 13.3 0.8512 13.3 1.9V3.8H0V7.6H13.3V9.5C13.3 10.5488 14.1512 11.4 15.2 11.4H17.1C18.1488 11.4 19 10.5488 19 9.5V1.9C19 0.8512 18.1488 0 17.1 0H15.2ZM22.8 3.8V7.6H38V3.8H22.8ZM24.7 13.3C23.6512 13.3 22.8 14.1512 22.8 15.2V17.1H0V20.9H22.8V22.8C22.8 23.8488 23.6512 24.7 24.7 24.7H26.6C27.6488 24.7 28.5 23.8488 28.5 22.8V15.2C28.5 14.1512 27.6488 13.3 26.6 13.3H24.7ZM32.3 17.1V20.9H38V17.1H32.3ZM5.7 26.6C4.6512 26.6 3.8 27.4512 3.8 28.5V30.4H0V34.2H3.8V36.1C3.8 37.1488 4.6512 38 5.7 38H7.6C8.6488 38 9.5 37.1488 9.5 36.1V28.5C9.5 27.4512 8.6488 26.6 7.6 26.6H5.7ZM13.3 30.4V34.2H38V30.4H13.3Z" fill="white"/></svg>');
    height: 24px;
    width: 24px;
}
.round_btn.close::after {
    content: "";
    position: absolute;
    background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0,0,256,256"><g fill="black" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M4.70703,3.29297l-1.41406,1.41406l7.29297,7.29297l-7.29297,7.29297l1.41406,1.41406l7.29297,-7.29297l7.29297,7.29297l1.41406,-1.41406l-7.29297,-7.29297l7.29297,-7.29297l-1.41406,-1.41406l-7.29297,7.29297z"></path></g></g></svg>');
    height: 24px;
    width: 24px;
}

/* BUTTON THEME */
.destructive:hover {
    background-color: var(--destructive-color-darker);
}
.destructive {
    background-color: var(--destructive-color);
    border-color: var(--destructive-color-darker);
}
.default:hover {
    background-color: var(--default-color-darker);
}
.default {
    background-color: var(--default-color);
    border-color: var(--default-color-darker);
}
.transparent:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.transparent {
    background-color: transparent;
    border: none;
}

/* TOP MENU (NOT HEADER) */
.top_action_menu {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--border-menu-color);
    margin: 18px;
    padding-bottom: 14px;
    justify-content: space-between;
    align-items: center;
}

/* CUSTOM SEARCH BAR */
input[type="text"].custom_search_bar::placeholder {
    color: var(--placeholder_color);
}
input[type="text"].custom_search_bar:focus, input[type="text"].custom_search_bar:hover {
    outline: 0;
}
input[type="text"].custom_search_bar {
    border: 2px solid var(--input_border_color);
    padding: 8px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 100px;
    padding-left: 44px !important;
    background: url("../img/search_gray.svg");
    background-position: 12px 10px;
    background-repeat: no-repeat;
    background-color: var(--input_color);
    color: var(--font-color);
    width: 100%;
    height: 30px;
}
input[type="text"].custom_search_bar:focus, input[type="text"].custom_search_bar:active {
    border: 2px solid var(--default-color);
}

/* POPUP CSS */
.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: 250ms all;
}
.popup .popup-inner {
    width: 50%;
    padding: 30px;
    background-color: var(--background-color);
    border-radius: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    transform: scale(0.95);
    transition: 250ms all;
}
.popup .popup-inner .popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.popup .popup-inner .popup-title p {
    font-size: 18px;
    font-family: Inter_Bold;
    color: var(--font-color);
    margin: 0;
}
#add-popup {
    display: none;
}
#add-popup:checked + .popup {
    opacity: 1;
    visibility: visible;
}
#add-popup:checked + .popup .popup-inner {
    opacity: 1;
    transform: scale(1);
}
@media screen and (max-width: 640px) {
    .popup .popup-inner {
        padding: 20px;
        width: 80%;
    }
}

/* Page paramétrage */

h2{
    text-align: left;
    color:black;
}

main{
    padding: 5%;
}

#fréquence{
    margin-top: 20px;
    margin-bottom: 40px;
}

#fréquence input{
    width: 20px;
    text-align:center;
    background-color:var(--placeholder_color);
    border: none;
}

#choix_f{
    padding: 5px;

   
    background-color: var(--placeholder_color);
    border-radius: 10px;
    border: none;

    width: fit-content;
}

/* Checkbox */

.checkbox .cbx {
    position: relative;
    display: block;
    float: left;
    min-width:18px;
    height: 18px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--default-color);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 -1px 1px rgba(0,0,0,0.15);
    transition: all 0.15s ease;
}
.checkbox .cbx svg {
    position: absolute;
    top: 3px;
    left: 3px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 17;
    stroke-dashoffset: 17;
    transform: translate3d(0, 0, 0);
}
.checkbox .cbx + span {
    float: left;
    margin-left: 6px;
}
.checkbox {
    user-select: none;
}
.checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;
    
}
.checkbox input[type="checkbox"] {
    display: none;
    visibility: hidden;
}
.checkbox input[type="checkbox"]:checked + .cbx {
    background-color: var(--default-color);
}
.checkbox input[type="checkbox"]:checked + .cbx svg {
    stroke-dashoffset: 0;
    transition: all 0.15s ease;
}



/*  */

#listeCMindex{
    display: flex;
    flex-direction: column;
    border:solid 1px black;
    border-radius: 5px;
    margin-inline: 2%;
}
.accederCM{
    display: flex;
    flex-direction: row;

}

.accedertitreCM{
    display: flex;
    width:65%;
    justify-content: center;
    align-items: center;
    padding:3px;
}


.IconAccederCM{
    width:20%;
    background-image: url();
}



/* CHECKBOX SENSOR */
.icon-checkbox-wrapper .checkbox-input:checked + .checkbox-tile {
    border-color: var(--default-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: var(--default-color);
}
.icon-checkbox-wrapper .checkbox-input:checked + .checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: var(--default-color);
    border-color: var(--default-color);
}
.icon-checkbox-wrapper .checkbox-input:checked + .checkbox-tile .checkbox-icon {
    filter: invert(39%) sepia(83%) saturate(1550%) hue-rotate(124deg) brightness(95%) contrast(97%);
}
.icon-checkbox-wrapper .checkbox-input:checked + .checkbox-tile .checkbox-label {
    color: var(--default-color);
}
.icon-checkbox-wrapper .checkbox-input:focus + .checkbox-tile {
    border-color: var(--default-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5d9c0;
}
.icon-checkbox-wrapper .checkbox-input:focus + .checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
}

.icon-checkbox-wrapper .checkbox-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7rem;
    min-height: 7rem;
    border-radius: 0.5rem;
    border: 2px solid #b5d9c0;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}
.icon-checkbox-wrapper .checkbox-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #b5d9c0;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.icon-checkbox-wrapper .checkbox-tile:hover {
    border-color: var(--default-color);
}
.icon-checkbox-wrapper .checkbox-tile:hover:before {
    transform: scale(1);
    opacity: 1;
}
.checkbox-icon {
    transition: 0.375s ease;
    /*color: #494949;*/
}
.icon-checkbox-wrapper .checkbox-icon img {
    width: 3rem;
    height: 3rem;
}
.icon-checkbox-wrapper .checkbox-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
}
@media screen and (max-width: 640px) {
    .icon-checkbox-wrapper .checkbox-icon img {
        width: 2rem;
        height: 2rem;
    }
    .icon-checkbox-wrapper .checkbox-tile {
        width: 90px;
        min-height: 80px;
    }
    .icon-checkbox-wrapper .checkbox-label {
        font-size: 14px;
    }
}

.grid_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 5px;
    margin-bottom: 24px;
}

/* TEXT INPUT WITH ICON FIELD */
.label_field {
    font-family: Inter_Medium;
}
.input_field {
    border: 1px solid var(--input_border_color);
    padding: 6px;
    padding-left: 36px;
    margin: 6px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    background-color: var(--input_color);
    color: var(--font-color);
    font-family: Inter_Medium;
    background-position: 6px 8px;
    background-repeat: no-repeat;
    height: 26px;
}
.input_field.clock {
    background-image: url('../img/clock.svg');
}
.input_field.timer {
    background-image: url('../img/timer.svg');
}
.input_field::placeholder {
    color: var(--placeholder_color);
}
.input_field:focus, .input_field:active {
    border: 1px solid var(--default-color);
}
.input_field:focus, .input_field:hover {
    outline: 0;
}

.label_img_input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;
}